{% extends 'base.html' %}

{% block title %}Cursos - Portal Académico{% endblock %}

{% block content %}
    <h2>Cursos Disponibles</h2>

    {% if cursos %}
        <div class="curso">
        {% for curso in cursos %}
            <p><strong>{{ curso.nombre }}</strong></p>
            <p>Docente: {{ curso.docente }}</p>
            <p>Cupos: {{ curso.cupos }}</p>
            <hr>
        {% endfor %}
        </div>
    {% else %}
        <p>No hay cursos disponibles.</p>
    {% endif %}
{% endblock %}